/* ---LOCATION--- */
.location {
    padding: 60px 0px 60px 0px;
    &__header {
        margin: 0px 0px 100px 0px;
    }
    &__body {
        display: flex;
        align-items: flex-start;
    }
    &__video {
        flex: 0 0 57%;
        position: relative;
        padding: 0px 0px 42.25% 0px;
    }
    &__video iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    &__content {
        flex: 1 1 auto;
        padding: 20px 0px 0px 121px;
        color: #b8b6b4;
    }
    &__title {
        line-height: 142%;
        font-weight: 400;
        color: #46AE00;
        font-size: 24px;
        text-transform: uppercase;
        text-align: left;
    }
    &__title:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }
    &__text {
        line-height: 142%;
        color: #e1cb30;
        font-size: 16px;
    }
    &__items {
        margin: 40px 0px 0px 0px;
    }
    &__item {
        margin: 0px 0px 30px 0px;
    }
    &__item:not(:last-child) {
        margin: 0px 0px 50px 0px;
    }
}

.item-location {
    display: flex;
    &__icon {
        flex: 0 0 32px;
        display: flex;
        align-items: center;
    }
    &__body {
        flex: 1 1 auto;
        padding: 0px 0px 0px 20px;
    }
    &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    }
    &__title:not(:last-child) {
        margin: 0px 0px 5px 0px;
    }
    &__text {
        line-height: 142%;
        font-size: 16px;
    }
    &__text a {
        color: #66ff00;
    }
}

/* ---При уменьшении экрана LOCATION--- */
@media (max-width: 1080px) {
    .location__content {
        padding: 0px 0px 0px 50px;
    }
}

@media (max-width: 991.98px) {
    .location__header {
        margin: 0px 0px 30px 0px;
    }
    .location__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .location__content {
        padding: 0;
    }
    .location__video {
        padding: 0px 0px 50% 0px;
    }
    .location__video:not(:last-child) {
        margin: 50px 0px 0px 0px;
    }
    .location__title {
        font-size: 18px;
    }
}

@media (max-width: 767.98px) {
    .location__video:not(:last-child) {
        margin: 30px 0px 0px 0px;
    }
    .location__item:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
}