.price {
    padding: 60px 0px 60px 0px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 90px 15px 84px;
    }
    &__content {
        padding-top: 36px;
        flex-grow: 1;
        margin-right: 20px;
        color: #b8b6b4;
    }
    &__header {
        margin-bottom: 18px;
    }
    &__title {
        line-height: 142%;
        font-weight: 400;
        color: #46AE00;
        font-size: 24px;
        text-transform: uppercase;
        text-align: left;
        transition: all 0.8 ease 0s;
    }
    &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 2;
        margin-bottom: 49px;
        transition: all 0.8 ease 0.4s;
        // overflow: hidden;
    }
    &__button {
        transition: all 0.8 ease 0.8s;
    }
    &__button .btn {
        font-size: 20px;
        max-width: 208px;
        width: 100%;
        min-height: 48px;
        background-color: rgba(140, 198, 63, 0.01);
        transition: all 0.3s ease 0s;

    }
    &__table {
        flex: 0 0 auto;
        max-width: 512px;
        width: 100%;
        border: 1px solid rgba(70, 174, 0, 0.5);
    }
    &__row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(70, 174, 0, 0.5);
    }
    &__cell {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        border-right: 1px solid rgba(70, 174, 0, 0.5);
    }
    &__item {
        height: 100%;
        padding: 20px;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #e1cb30;
    &__transparent {
        background-color: transparent;
        border: 1px solid rgba(70, 174, 0, 0.5);
        border-radius: 4px;
    }
    &__transparent:hover {
        background-color: rgba(80, 144, 12, 0.1);
        // box-shadow: 0 2px 4px 0 rgba(140, 198, 63, 0.7);
    }
}

.item-price {
    text-align: center;
    &__icon {
        margin-bottom: 20px;
    }
    &__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        color: #b8b6b4;
    }
    &__text {
        color: #b8b6b4;
        line-height: 142%;
        font-size: 16px;
    }
}

.price__row:last-child {
    border-bottom: none;
}

.price__cell:last-child {
    border-right: none;
}

// При уменьшении экрана блока PRICE
@media (max-width: 991.98px) {
    .price {
        padding: 30px 0px 30px 0px;
        &__container {
            display: block;
            padding: 48px 0px 51px;
        }
        &__content {
            margin-bottom: 50px;
            margin-right: 0;
            padding-top: 0;
        }
        &__table {
            margin: 0 auto;
            max-width: 100%;
            display: flex;
            justify-content: flex-start;
        }
        &__row {
            flex: 1 0 auto;
            width: 100%;
            max-width: 50%;
        }
    }
    .price__row:first-child .price__cell:last-child {
        border-right: 1px solid rgba(70, 174, 0, 0.5);
    }
    .price__row:first-child {
        border-bottom: none;
    }
}

@media (max-width: 726px) {
    .price {
        &__container {
        padding: 45px 0px 50px;
        }
        &__content {
            margin-bottom: 30px;
        }
        &__title {
            text-align: center;
            font-size: 18px;
        }
        &__header {
            margin-bottom: 25px;
        }
        &__text {
            font-size: 16px;
            text-align: center;
            line-height: 1.5;
        }
        &__button .btn {
            max-width: 232px;
            width: 100%;
            margin: 0 auto;
            font-size: 18px;
        }
        &__table {
            display: block;
        }
        &__row {
            max-width: 100%;
        }
    }
    .item-price {
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 16px;
        }
    }
    .price__row:first-child .price__cell:last-child {
        border-right: none;
    }
    .price__row:first-child {
        border-bottom: 1px solid rgba(70, 174, 0, 0.5);
    }
}

@media (max-width: 426px) {
    .price {
        &__row {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .price__cell:first-child {
        border-right: none;
    }
    .price__cell:first-child {
        border-bottom: 1px solid rgba(70, 174, 0, 0.5);
    }
}