/* ---SERVICES--- */
.services {
    &__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px -30px;
    }
    &__column {
        padding: 0px 15px;
        margin: 0px 0px 30px 0px;
        flex: 0 1 25%;
    }
    &__item {
        height: 100%;
        box-shadow: 0 2px 4px rgba(113, 255, 88, 0.25);
        border-top: 1px solid rgba(70, 174, 0, 0.5);
        border-left: 1px solid rgba(70, 174, 0, 0.5);
        padding: 15px;
        background: rgba(80, 144, 12, 0.1);
        border-radius: 10px;
        text-align: center;
        backdrop-filter: blur(1px);
        transition: 0.5s;
    }
        &__item:hover {
            // transform: translateY(-50px);
    }
}

.item-service {
    &__title {
        letter-spacing: 0.1px;
        font-size: 14px;
        line-height: 133%;
        color: #e1cb30;
        font-family: "Press Start 2P";
    }
    &__text {
        color: #b8b6b4;
        line-height: 142%;
    }
}

.item-service > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

@media (max-width: 991.98px) {
    .services {
        padding: 80px 0px;
        &__column {
            flex: 0 1 50%;
        }
        &__item:hover {
            transform: none;
        }
    }
}

@media (max-width: 560px) {
    .services {
        &__column {
            flex: 0 1 100%;
        }
        &__item {
            border: none;
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
        }
        &__item:hover {
            box-shadow: none;
        }
    }
}